.title {
    font-family: "Bebas Neue", sans-serif;
    
    &__h1 {
        color: var(--color-secondary);
        font-size: 263px;
    }

    &__h2 {
        color: var(--color-primary);
        font-size: 200px;
    }
}

